<ion-view title="Dashbord">
    <ion-content overflow-scroll="true" padding="true" class="bg-color">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Skole</h2>
                <p>elevnavn</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="fravR">Sykmelding</ion-item>
            <ion-item ui-sref="#">Innboks</ion-item>
            <ion-item ui-sref="login">Logg ut</ion-item>
        </ion-list>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>
