<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="Dashbord" icon="ion-android-home" href="#/tabscontrol/dashbord">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ukeplan" icon="ion-ios-calendar-outline" href="#/tabscontrol/ukeplan">
            <ion-nav-view name="tab12"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lekseplan" icon="ion-ios-paper-outline" href="#/tabscontrol/lekseplan">
            <ion-nav-view name="tab13"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>